{% extends 'base.html' %}

{% load static %}

{% block titulo %}
   Cadastro de Fornecedores
{% endblock %}

{% block corpo %}
   <div class='mb-4'>
      <h5>Cadastro de Fornecedores</h5>
      <hr class='mt-0'>
   </div>

   <div style="min-height: 330px">
      {% if messages %}
         <div class="mb-3">
            {% for message in messages %}
               <ul class="list-group rounded">
                  <li style="padding-top: 7px; padding-bottom: 7px"
                      class="list-group-item list-group-item-info">
                     {{ message }}
                  </li>
               </ul>
            {% endfor %}
         </div>
      {% endif %}

      <div class="row mb-3">
         <div class="col-lg-9 col-md-8">
            <div class="row">
               <div class="col-xl-2 col-lg-3 col-4 font-weight-bold mb-1">Nome</div>
               <div class="col-xl-10 col-lg-9 col-8">{{ fornecedor.nome }}</div>
               <div class="col-xl-2 col-lg-3 col-4 font-weight-bold mb-1">Endereco</div>
               <div class="col-xl-10 col-lg-9 col-8">{{ fornecedor.endereco }}</div>
               <div class="col-xl-2 col-lg-3 col-4 font-weight-bold mb-1">Telefone</div>
               <div class="col-xl-10 col-lg-9 col-8">{{ fornecedor.telefone }}</div>
               <div class="col-xl-2 col-lg-3 col-4 font-weight-bold mb-1">CNPJ</div>
               <div class="col-xl-10 col-lg-9 col-8">{{ fornecedor.cnpj }}</div>
            </div>
         </div>
      </div>

      {% if fornecedor.id %}
         <div class="form-group row">
            <div class="col-12">
               <div class="form-inline">
                  <a href="{% url 'fornecedor:edita_fornecedor' fornecedor.id %}" class="btn btn-primary mr-3">
                     <img src="{% static 'images/skin/database_edit.png' %}" /> Editar
                  </a>

                  <form action="{% url 'fornecedor:remove_fornecedor' %}" method="POST">
                     {% csrf_token %}
                     <button type="submit" class="btn btn-danger">
                        <img src="{% static 'images/skin/database_delete.png' %}"> Remover
                     </button>
                  </form>
               </div>
            </div>
         </div>
      {% endif %}
   </div>
{% endblock %}