{% extends 'base.html' %}

{% load static %}

{% block titulo %}
   Pesquisa de Fornecedores
{% endblock %}

{% block corpo %}
   <div class='mb-4'>
      <h5>Pesquisa de Fornecedores</h5>
      <hr class='mt-0'>
   </div>

   <form action="" method ='GET' class="mb-4">
      <div class='form-group row' style='margin-bottom: 10px;'>
         <label for='id_nome' class='col-lg-2 col-form-label font-weight-bold'>
            Nome
         </label>
         <div class='col-lg-10'>
            {{ form.nome }}
            <!--
            <input type='text' name='nome' id='id_nome' class='form-control form-control-sm' maxlength='100'>
            -->
         </div>
      </div>
      <div class='form-group row'>
         <div class="col-lg-10 offset-lg-2">
            <button type='submit' class='btn btn-primary'>
               <div class="d-flex align-items-center">
                  <img src="{% static 'images/skin/binoculo.png' %}" class="mr-2">Pesquisar
               </div>
            </button>
         </div>
      </div>
   </form>

   <div style="min-height: 212px">
      {% if fornecedores %}
         <h5 class="mb-3">Lista de Fornecedores</h5>
         <table style='width:100%'
                class='table table-striped table-sm table-bordered table-responsive mb-4'>
            <thead>
               <tr>
                  <th class='text-center'>Nome</th>
                  <th class="text-center">Endereco</th>
                  <th class='text-center'>Telefone</th>
                  <th class="text-center">CNPJ</th>
               </tr>
            </thead>
            <tbody>
               {% for fornecedor in fornecedores %}
                  <tr>
                     <td width="25%" class="text-center align-middle">
                        {{ fornecedor.nome }}
                     </td>
                     <td width="25%" class="text-center align-middle">
                        {{ fornecedor.endereco }}
                     </td>
                     <td width="25%" class="text-center align-middle">
                        {{ fornecedor.telefone }}
                     </td>
                     <td width="25%" class="text-right align-middle pr-3">
                        {{ fornecedor.cnpj }}
                     </td>
                  </tr>
               {% endfor %}
            </tbody>
         </table>

         <div style='font-size: 14px; margin-bottom: 28px'>
            {% if fornecedores.has_other_pages %}
               <ul class='pagination'>
                  {% if fornecedores.has_previous %}
                     <li class='page-item'><a class='page-link' href='?pagina={{ fornecedores.previous_page_number }}&nome={{nome}}'>Anterior</a></li>
                  {% else %}
                     <li class='page-item disabled'><a class='page-link' href='#' tabindex='-1'>Anterior</a></li>
                  {% endif %}
                  {% for i in fornecedores.paginator.page_range %}
                     {% if fornecedores.number == i %}
                        <li class='page-item active'><a class='page-link' href='#'>{{ i }} </a></li>
                     {% else %}
                        <li class='page-item'><a class='page-link' href='?pagina={{ i }}&nome={{nome}}'>{{ i }}</a></li>
                     {% endif %}
                  {% endfor %}
                  {% if fornecedores.has_next %}
                     <li class='page-item'><a class='page-link' href='?pagina={{ fornecedores.next_page_number }}&nome={{nome}}'>Próxima</a></li>
                  {% else %}
                     <li class='page-item disabled'><a class='page-link' href='#' tabindex='-1'>Próxima</a></li>
                  {% endif %}
               </ul>
            {% endif %}
         </div>
      {% endif %}
   </div>

{% endblock %}
