.bgimage {
    background-image: url('../images/panoramica1.jpg');
    /*Indica que a imagem ocupe toda a area designada*/
    background-size: cover;
    background-position: center;
    height: 350px;
}

.tooltip-inner {
    max-width: 250px;
}

.media img{
    max-width: 180px;
    margin-bottom: 16px;
    margin-right: 16px;
    border-radius: 6%;
}

.footer{
    background-color: #333;
    color: #efefef;
    padding: 30px 0;
}

/*afeta todas as ancoras dentro de classe footer*/
.footer a{
    color: #639bcf;
}

.footer a:hover{
    color: #d8e6f3;
}

.texto-1{
    font-size: 35px;
}

.texto-2{
    font-size: 30px;
}

@media (max-width: 1100px){
    .texto-1{
        font-size: 30px;
    }
    
    .texto-2{
        font-size: 25px;
    }  
}
@media (max-width: 480px){
    .media img{
        max-width: 90px;
        margin-bottom: 6px;
        border-radius: 50%;
    }
    .media-body h5{
        font-size: 16px;
        margin-top: 18px;
    }
    .texto-media-body {
        display: none;
    }
}