a:hover{
	color:#DAA520;
}

a{
	color:black;
}

.btn-primary{
    background: #007bff !important;
}

.texto-1{
	font-size: 25px;
	color: black;
	font-family: "Courier New", Courier, monospace;
	font-style: italic;
}

.page-footer{
	padding: 0 30px;
}

.page-footer a:hover{
	color:#DAA520;
}

.carousel-control-prev{
	color: #DAA520 !important;
}

.carousel-control-next{
	color: #DAA520 !important;
}

#Down{
	border: none;
	background-color: transparent;
}

#Up{
	border: none;
	background-color: transparent;
}

.form-control{
	border: 1px solid #DAA520 !important;
}
.page-link{
	color: #DAA520 !important;
	border: 1px solid #DAA520 !important;
	background-color: transparent !important;
}
.rating {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.like,.dislike {
  display: inline-block;
  cursor: pointer;
  margin: 10px;
}

.dislike:hover,.like:hover {
  color: #DAA520;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

.focus {
  color: #DAA520;
}