{% extends 'base.html' %}

{% load static %}

   <div class='mb-4'>
      <h5>Cadastro de Fornecedores</h5>
      <hr class='mt-0'>
   </div>

{% block corpo %}
   <form action="{% url 'fornecedor:cadastra_fornecedor' %}" method="POST" class="pb-4"
         enctype="multipart/form-data" novalidate style="min-height: 330px">
      <div class="row mb-xl-3">
         <div class="col-xl-6">
            <div class="row">
               <label for="id_nome" class="col-xl-2 font-weight-bold">Nome</label>
               <div class="col-xl-9">
                  {{ form.nome }}
                  {# <input type="text" name="nome" maxlength="100" required="" id="id_nome"> #}
                  {% if form.nome.errors %}
                     <div class="alert alert-danger mb-0" role="alert" style="padding-top: 2px; padding-bottom: 2px">
                        {% for error in form.nome.errors %}
                           <small>{{ error }}</small>
                        {% endfor %}
                     </div>
                  {% endif %}
               </div>
            </div>
         </div>
         <div class="col-xl-6">
            <div class="row">
               <label for="id_endereco" class="col-xl-3 font-weight-bold">Endereco</label>
               <div class="col-xl-9">
                  {{ form.endereco }}
                  {# <input type="text" name="endereco" maxlength="100" required="" id="id_endereco"> #}
                  {% if form.endereco.errors %}
                     <div class="alert alert-danger mb-0" role="alert" style="padding-top: 2px; padding-bottom: 2px">
                        {% for error in form.endereco.errors %}
                           <small>{{ error }}</small>
                        {% endfor %}
                     </div>
                  {% endif %}
               </div>
            </div>
         </div>
      </div>

      <div class="row mb-xl-3">
         <div class="col-xl-6">
            <div class="row">
               <label for="id_telefone" class="col-xl-2 font-weight-bold">Telefone</label>
               <div class="col-xl-9">
                  {{ form.telefone }}
                  {# <input type="text" name="telefone" maxlength="10" required="" id="id_telefone"> #}
                  {% if form.telefone.errors %}
                     <div class="alert alert-danger mb-0" role="alert" style="padding-top: 2px; padding-bottom: 2px">
                        {% for error in form.telefone.errors %}
                           <small>{{ error }}</small>
                        {% endfor %}
                     </div>
                  {% endif %}
               </div>
            </div>
         </div>
         <div class="col-xl-6">
            <div class="row">
               <label for="id_cnpj" class="col-xl-3 font-weight-bold">CNPJ</label>
               <div class="col-xl-9">
                  {{ form.cnpj }}
                  {# <input type="number" name="cnpj" value="0" required="" id="id_cnpj"> #}
                  {% if form.cnpj.errors %}
                     <div class="alert alert-danger mb-0" role="alert" style="padding-top: 2px; padding-bottom: 2px">
                        {% for error in form.cnpj.errors %}
                           <small>{{ error }}</small>
                        {% endfor %}
                     </div>
                  {% endif %}
               </div>
            </div>
         </div>
      </div>

      <div class="row mb-5">
         <div class="col-xl-6">
            <div class="row">
               <div class="col-xl-10 offset-xl-2">
                  {% csrf_token %}
                  <button id="botao" type="submit" class="btn btn-primary">
                     {% if 'fornecedor_id' in request.session %}
                        <img src="{% static 'images/skin/database_edit.png' %}"> Alterar
                     {% else %}
                        <img src="{% static 'images/skin/database_add.png' %}"> Cadastrar
                     {% endif %}
                  </button>
               </div>
            </div>
         </div>
      </div>

   </form>
{% endblock %}